.container {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    color: black;
    margin: 0px;
    text-align: center;
}

.cards-group {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: stretch;
    margin: 0px;
  }