.cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
}
.item-card {
  flex: 1 0 auto;
  margin: 10px;
}
