button:hover {
    cursor: pointer;
  }
  
  .Navbar {
  background-color:black;
  width: 100%;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  }
  
  .Navbar .leftSide {
    flex: 50%;
    display: flex;
    justify-content: left;
    align-items: center;
    
  }
  
  .Navbar .leftSide .links {
    max-height: 80px;
    justify-content: space-around;
  
  }
  
  .Navbar .leftSide button{
    display: none;
    margin-left: 20px;
  
  }
  
  .Navbar .leftSide #hidden{
    display: flex;
  }
  
  .Navbar .leftSide .links li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 15px;
    margin: 15px;
    align-items: center;
    
  }
  
  .Navbar .rightSide {
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 25px;
  }
  
  .rightSide input {
    width: 220px;
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    padding-left: 15px;
    color: black;
  }
  
  .rightSide button {
    height: 32px;
    width: 70px;
    font-size: 16px;
  
  }

  .active {
    background-color: blue;
  }

  .active-logo {
    background-color:black;
  }